/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* end of css reset */

/* viasite styles */
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 15px;
}

ul {
    padding-inline-start: 0;
    list-style: none;
}

a {
    color: #1da72e;
    text-decoration: none;
}

a:focus, a:hover {
    color: #333;
}

a[href^="https://metrika.yandex"],
a[href^="https://webmaster.yandex"] {
    display: inline-block;
}

a[href^="https://metrika.yandex"]::before,
a[href^="https://webmaster.yandex"]::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

a[href^="https://metrika.yandex"]::before {
    background: url(images/yandex-metrika-16.png) 0 0 no-repeat;
}

a[href^="https://webmaster.yandex"]::before {
    background: url(images/yandex-webmaster-16.png) 0 0 no-repeat;
}

button, input[type="submit"] {
    background-color: #1da72e;
    color: #fff;
    border: none;
}

#counter_id {
    height: 27px;
}